// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #66110D
$secondary = #E99D6C
$tertiary  = #555

// $neutral   = #E0E1E2
$neutral   = #161922
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037


$grey-2  = #353535

@import '~quasar-variables'
